{% extends "layout-main.html" %}

{% block ogtags %}
<meta property="og:type" content="article">
<meta property="og:title" content="Illuminati Confirmed!">
<meta property="og:site_name" content:"Illuminati Confirmed | Confirming the Existence of the Illuminati Since 2015">
<meta property="og:image" content="{{ url_for('illuminati_page', id=id, _external=True) }}">
<meta property="og:description" content="If you look carefully enough, you can see the Illuminati everywhere. In every photo in the world, there is some evidence of the Illuminati. This is a FACT.">
{% endblock %}

{% block contents %}
<h1 id='title'>Illuminati Confirmed!</h1>

<div id='image-box'>
    <img src="{{ url_for('illuminati', id=id) }}">
</div>

<a class='button' href='/'>Confirm more Illuminati!</a>

<div id='fb-root'>
    <div class="fb-share-button"
        data-href="{{ url_for('illuminati_page', id=id) }}"
        data-layout="button">
    </div>
</div>
{% endblock contents %}
