{% extends "layout-main.html" %}

{% block ogtags %}
<meta property="og:type" content="article">
<meta property="og:title" content="Illuminati Confirmed!">
<meta property="og:site_name" content:"Illuminati Confirmed | Confirming the Existence of the Illuminati Since 2015">
<meta property="og:image" content="https://media2.giphy.com/media/QUEFPDQhw89bi/200_s.gif">
<meta property="og:description" content="If you look carefully enough, you can see the Illuminati everywhere. In every photo in the world, there is some evidence of the Illuminati. This is a FACT.">
{% endblock %}

{% block contents %}
<h1 id="title">Illuminati Confirmed?</h1>

<label id="image-label">
    <form novalidate>
        <div id="image-box">
            <input type="file" id="file-upload-input">
            <span id="upload-icon"
                class="fa fa-cloud-upload glyphicon">
            </span>
            <img id="photo" src="">
            <img id="photo2" src="">
            <img id="spinner" src="/static/img/illuminati.png"></img>
        </div>
    </form>
</label>
<div>
    <a class='button' href='javascript:shareIlluminati()'>
        <i class='fa fa-facebook'></i>&nbsp;&nbsp;&nbsp;&nbsp;Share
    </a>
</div>
{% endblock contents %}

{% block bodyjs %}
{{ super() }}
<audio id='illuminati-music'>
    <source src='/static/audio/illuminati.ogg' type='audio/ogg'>
    <source src='/static/audio/illuminati.mp3' type='audio/mpeg'>
</audio>
{% endblock %}
